<!DOCTYPE html>
<html lang="en">
<head>
    <title>TEST</title>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href=''>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="Cache-Control" content="no-store"/>
    <meta http-equiv="Pragma" content="no-cache"/>
    <meta http-equiv="Expires" content="0"/>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <!--IOS设备上禁止将数字识别为可点击的tel link-->
    <meta content="telephone=no" name="format-detection">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <link rel="stylesheet" type="text/css" href='../static/css/common.css'>
    <link rel="stylesheet" type="text/css" href='../static/css/view-default.css'>
    <link rel="stylesheet" type="text/css" href="../static/_public/flatpickr.min.css"/>


</head>
<body>
<div class="card-space card-space2"  style="overflow:hidden">
    <video id="video" autoplay></video>
    <div id="videos">
        <video id="me" autoplay></video>
    </div>
</div>


<script src="../static/js/SkyRTC-client.js"></script>

<script type='text/javascript' src='../static/_public/jquery-2.1.1.min.js' charset='utf-8'></script>
<script type='text/javascript' src='../static/js/common.js' charset='utf-8'></script>
<script type='text/javascript' src='../static/js/view-default.js' charset='utf-8'></script>
<script type="text/javascript">
    var videos = document.getElementById("videos");
    var sendBtn = document.getElementById("sendBtn");
    var msgs = document.getElementById("msgs");
    var sendFileBtn = document.getElementById("sendFileBtn");
    var files = document.getElementById("files");
    var rtc = SkyRTC();





    $(function(){
        module.messageCallBack.getInfo = function(){
            console.log(this);
        }
    });

    var constraints = { audio: true, video:  { width: 1280, height: 720 } };

    navigator.mediaDevices.getUserMedia(constraints)
        .then(function(mediaStream) {
            var video = document.querySelector('me');
            video.srcObject = mediaStream;
            video.onloadedmetadata = function(e) {
                video.play();
            };
        })
        .catch(function(err) { console.log(err.name + ": " + err.message); }); // 总是在最后检查错误

    //
    // function getPeerConnection(v) {
    //     let videoBox = this.$refs['video-box'];
    //     let iceServer = {
    //         "iceServers": [
    //             {
    //                 "url": "stun:stun.l.google.com:19302"
    //             }
    //         ]
    //     };
    //     //兼容浏览器的PeerConnection写法
    //     let PeerConnection = (window.RTCPeerConnection ||
    //         window.webkitRTCPeerConnection ||
    //         window.mozRTCPeerConnection);
    //     // 创建
    //     let peer = new PeerConnection(iceServer);
    //     //向PeerConnection中加入需要发送的流
    //     peer.addStream(this.localStream);
    //
    //     //如果检测到媒体流连接到本地，将其绑定到一个video标签上输出
    //     peer.onaddstream = function(event){
    //         // console.log('event-stream', event);
    //         let videos = document.querySelector('#' + v.account);
    //         if (videos) {
    //             videos.srcObject = event.stream;
    //         } else {
    //             let video = document.createElement('video');
    //             video.controls = true;
    //             video.autoplay = 'autoplay';
    //             video.srcObject = event.stream;
    //             video.id = v.account;
    //             videoBox.append(video);
    //         }
    //     };
    //     //发送ICE候选到其他客户端
    //     peer.onicecandidate = (event) => {
    //         if (event.candidate) {
    //             socket.emit('__ice_candidate', {'candidate': event.candidate, roomid: this.$route.params.roomid, account: v.account});
    //         }
    //     };
    //     // console.log('v.account', v.account);
    //     this.peerList[v.account] = peer;
    // }

    //成功创建WebSocket连接
    rtc.on("connected", function(socket) {
        //创建本地视频流
        rtc.createStream({
            "video": true,
            "audio": true
        });
    });
    //创建本地视频流成功
    rtc.on("stream_created", function(stream) {
        document.getElementById('me').src = URL.createObjectURL(stream);
        document.getElementById('me').play();
    });
    //创建本地视频流失败
    rtc.on("stream_create_error", function() {
        alert("create stream failed!");
    });
    //接收到其他用户的视频流
    rtc.on('pc_add_stream', function(stream, socketId) {
        var newVideo = document.createElement("video"),
            id = "other-" + socketId;
        newVideo.setAttribute("class", "other");
        newVideo.setAttribute("autoplay", "autoplay");
        newVideo.setAttribute("id", id);
        videos.appendChild(newVideo);
        rtc.attachStream(stream, id);
    });
    //删除其他用户
    rtc.on('remove_peer', function(socketId) {
        var video = document.getElementById('other-' + socketId);
        if(video){
            video.parentNode.removeChild(video);
        }
    });

    //接收到文字信息
    rtc.on('data_channel_message', function(channel, socketId, message){
        var p = document.createElement("p");
        p.innerText = socketId + ": " + message;
        msgs.appendChild(p);
    });
    //连接WebSocket服务器
    rtc.connect("ws:" + window.location.href.substring(window.location.protocol.length).split('#')[0], window.location.hash.slice(1));
</script>
</body>
</html>
