<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        .main-container .main-pages {
            position: absolute;
            top: 0px;
            left: 0;
            right: 0;
            bottom: 0;
            background: url(../static/images/tab/no-tab3.png) no-repeat center #ecf1f5;
            background-size: auto 90%;
        }
    </style>
</head>
<body>

<div class="main-container">
    <div class="main-tabs no-select">
        <div class="tab-item-space" id="tab-space"></div>
    </div>
    <div class="main-pages" id="main-pages"></div>
</div>
</body>
</html>